* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

button {
  cursor: pointer;
}

*,
:active,
:focus {
  outline: none;
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("Gilroy-Medium.eot");
  src: url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Medium.woff") format("woff"),
    url("Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("Gilroy-Bold.eot");
  src: url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Bold.woff") format("woff"),
    url("Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gilroy Medium", sans-serif;
  color: #070707;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

$gray: #828282;
$black: #070707;

.header {
  position: sticky;
  top: 0;
  background: #ffffff;
  width: 100%;
  z-index: 1;

  &__menu {
    display: none;
    width: 33px;
    height: 19px;
    background: url("../images/menu-icon.svg") no-repeat center/contain;

    &-close {
      // display: none;
      width: 23px;
      height: 23px;
      background: url("../images/menu-icon-close.svg") no-repeat center/contain;
    }
  }

  &__lang {
    display: none;
    position: absolute;
    align-items: center;
    bottom: 57px;
    right: -30px;
    justify-content: space-between;
    width: 144px;
    height: 34px;
    transform: rotate(90deg);
    font-size: 34px;
    line-height: 34px;
    font-weight: bold;
    color: $gray;

    &-ru,
    &-en {
      line-height: 16px;
      color: $gray;

      &:focus {
        color: $black;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 55px;
      width: 4px;
      height: 30px;
      background: $black;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;

  &__list {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    max-width: 997px;
    margin: 0 auto;
    padding: 33px 26px 32px;
    border-bottom: 1px solid #828282;
  }

  &__link {
    color: $gray;

    &:focus {
      color: $black;
    }
  }
}

.hidden {
  display: none;
}

.banner {
  width: 100%;
  padding: 0 26px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 944px;
    margin: 0 auto 104px;
    padding-bottom: 436px;
    background: url("../images/banner-background-1440-2x.jpg") no-repeat center bottom 0;
    background-size: 943px 387px;
  }

  &__name {
    font-size: 47.3392px;
  }

  &__description {
    font-size: 18px;
  }

  &__lang {
    position: relative;
    bottom: 30px;
    left: 25px;
    display: flex;
    justify-content: space-between;
    width: 68px;
    height: 14px;
    transform: rotate(-90deg);
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: $gray;

    &-ru,
    &-en {
      line-height: 16px;
      color: $gray;

      &:focus {
        color: $black;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 27px;
      width: 2px;
      height: 15px;
      background: $black;
    }
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $black;
  width: 100%;
  padding: 120px 29px 107px-30px;
  // height: 506px;
  background: #f6f6f6;

  &__title {
    font-size: 34px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    height: 218px;
    font-size: 18px;
    max-width: 425px;
    height: 50px;
    margin-bottom: 30px;

    &:nth-child(4) {
      max-width: 340px;
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  padding: 91px 74px 111px;
  width: 100%;
  max-width: 936px+74px * 2;

  &__title {
    font-size: 34px;
    margin-bottom: 69px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 83px;
  }

  &__description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__adobe-photoshop {
    background: url("../images/adobe-photoshop-logo.svg") no-repeat center top 0;

    .skill__rating {
      height: 26px;
      background: url("../images/rating-4.svg") no-repeat center;
    }
  }

  &__adobe-illustrator {
    background: url("../images/adobe-illustrator-logo.svg") no-repeat center top 0;

    .skill__rating {
      height: 26px;
      background: url("../images/rating-3.svg") no-repeat center;
    }
  }

  &__adobe-after-effects {
    background: url("../images/adobe-after-effects-logo.svg") no-repeat center top 0;

    .skill__rating {
      height: 26px;
      background: url("../images/rating-4.svg") no-repeat center;
    }
  }

  &__figma {
    background: url("../images/figma-logo.svg") no-repeat center top 0;

    .skill__rating {
      height: 26px;
      background: url("../images/rating-4.svg") no-repeat center;
    }
  }
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 166px;
  height: 206px;
  padding-top: 113px;

  &__name {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    width: 80px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-star {
      width: 26px;
      height: 26px;
    }
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 112px 29px 0;
  width: 100%;
  background: #f6f6f6;

  &__title {
    font-size: 34px;
    margin-bottom: 60px;
  }

  &__list {
    width: 100%;
  }

  &-proect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-layout {
    margin-bottom: 45px;
  }

  &__fashion {
    max-width: 936px;
    width: 100%;
    max-height: 510px;
  }

  &__reebok,
  &__braun {
    max-width: 936px;
    width: 100%;
    max-height: 522px;
  }

  &__link {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 99px;
    color: $black;
    text-decoration: underline;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // height: 622px;
  width: 100%;
  padding: 114px 30px 123px;

  &__title {
    font-size: 34px;
    margin-bottom: 35px;
  }

  &__text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__send {
    width: 180px;
    height: 42px;
    border-radius: 21px;
    font-size: 18px;
    color: #ffffff;
    background: #070707;
    transition: 1s;
    margin-bottom: 86px;

    &:hover {
      background: #312e2e;
      text-shadow: 0 0 5px #ffffff;
      box-shadow: 0 0 50px 20px #312e2e;
      transition: 1s;
    }
  }

  &__social-networks {
    display: flex;
    justify-content: space-between;
    max-width: 342px;
    width: 100%;
    margin-bottom: 45px;
  }

  &__linkedln-link {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/linkedIn-logo.svg") no-repeat center/contain;
  }

  &__instagram-link {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/instagram-logo.svg") no-repeat center/contain;
  }

  &__behance-link {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/behance-logo.svg") no-repeat center/contain;
  }

  &__dribble-link {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/dribbble-logo.svg") no-repeat center/contain;
  }

  &-bottom {
    text-align: center;
    font-size: 14px;
    color: $gray;

    &__list {
      display: flex;
      justify-content: space-between;
      width: 240px;
    }
  }

  &__link {
    color: $gray;
  }
}

a:hover {
  color: #070707;
}

@media (max-width: 1028px) {
  .skills {
    max-width: 166px * 2+81px+74px * 2;
    padding: 83px 74px 98px;

    &__title {
      margin-bottom: 50px;
    }

    &__text {
      margin-bottom: 71px;
    }

    &__description {
      height: 206px * 2+81px;
      align-content: space-between;
    }
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    padding: 66px 0 57px;
    background: none;
    height: 19px;

    &__menu {
      display: block;
    }
  }

  .nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 30px;

    &__list {
      display: none;
      flex-direction: column;
      font-size: 34px;
      padding: 0 26px;
      height: 50vh;
      border: none;
    }
  }

  .main {
    margin-top: 57px;
  }

  .banner {
    &__lang {
      transform: initial;
      bottom: 0;
      left: 0;
    }
  }

  .about-me {
    padding: 81px 29px 76px-30px;
  }

  .portfolio {
    padding: 81px 29px 0;
  }

  .contacts {
    padding: 82px 30px 123px;
  }
}

@media (max-width: 580px) {

  .banner {
    &__content {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 387px+25px;
      margin: 0 auto 83px;
    }

    &__name {
      margin-bottom: 25px;
    }

    &__lang {
      display: none;
    }
  }

  .skills {
    max-width: 288px+74px*2;

    &__description {
      height: 1068px;
      justify-content: center;
    }
  }

  .portfolio {

    &-layout {
      margin-bottom: 36px;
    }

    &__link {
      margin-bottom: 78px;
    }
  }

  .contacts {
    &__send {
      margin-bottom: 48px;
    }
  }
}

@media (max-width: 460px) {

  .banner {
    &__content {
      // padding-bottom: 478px+38px;
      padding-bottom: 162%;
      background: url("../images/banner-background-375-2x.jpg") no-repeat center bottom 0;
      background-size: contain;
    }
  }

  .contacts {
    padding: 82px 30px 100px;

    &__send {
      width: 100%;
    }
  }
}