* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    border: 0;
    outline: none;
}

button {
    cursor: pointer;
}

*,
:active,
:focus {
    outline: none;
}

@font-face {
    font-weight: normal;
    font-family: "Gilroy Medium";
    font-style: normal;
    src: url("Gilroy-Medium.eot");
    src: url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Medium.woff") format("woff"),
        url("Gilroy-Medium.ttf") format("truetype");
}

@font-face {
    font-weight: normal;
    font-family: "Gilroy Bold";
    font-style: normal;
    src: url("Gilroy-Bold.eot");
    src: url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
        url("Gilroy-Bold.woff") format("woff"),
        url("Gilroy-Bold.ttf") format("truetype");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #070707;
    font-family: "Gilroy Medium", sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1005px;
    padding: 0 30px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

$gray: #828282;
$black: #070707;

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #ffffff;

    .wrapper {
        height: 100%;
    }

    &__menu {
        display: none;

        width: 33px;
        height: 19px;
        background: url("../images/menu-icon.svg") no-repeat center/contain;

        &-close {
            width: 23px;
            height: 23px;
            background: url("../images/menu-icon-close.svg") no-repeat center/contain;
        }
    }

    &__lang {
        position: absolute;
        right: -30px;
        bottom: 57px;
        display: none;
        align-items: center;
        justify-content: space-between;
        width: 144px;
        height: 34px;
        color: $gray;
        font-weight: bold;
        font-size: 34px;
        line-height: 34px;
        transform: rotate(90deg);

        &::before {
            position: absolute;
            top: 2px;
            left: 55px;
            width: 4px;
            height: 30px;
            background: $black;
            content: "";
        }

        &-ru,
        &-en {
            color: $gray;
            line-height: 34px;
            font-weight: bold;
            font-size: 34px;
            background: #fff;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;

    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 997px;
        margin: 0 auto;
        padding: 33px 0 32px;
        // font-weight: bold;
        font-size: 18px;
        border-bottom: 1px solid #828282;
    }

    &__link {
        display: block;
        color: $gray;
        transition: 0.3s;
    }

    a.active {
        color: #000000;
    }
}

.section {
    padding: 100px 0;

    &__title {
        text-align: center;
        font-size: 34px;
        line-height: 34px;
    }
}

.banner {
    width: 100%;
    padding: 0;

    &__content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        max-width: 944px;
        margin: 0 auto 100px;
        padding-bottom: 436px;
        background: url("../images/myPhoto.jpg") no-repeat center bottom 0;
        background-size: auto 387px;
    }

    &__name {
        font-size: 47px;
    }

    &__description {
        font-size: 18px;
    }

    &__lang {
        position: relative;
        bottom: 30px;
        left: 25px;
        display: flex;
        justify-content: space-between;
        width: 68px;
        height: 14px;
        color: $gray;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        transform: rotate(-90deg);

        &::before {
            position: absolute;
            top: 2px;
            left: 27px;
            width: 2px;
            height: 15px;
            background: $black;
            content: "";
        }

        &-ru,
        &-en {
            color: $gray;
            line-height: 16px;
            font-weight: bold;
            font-size: 16px;
            background: #fff;
        }
    }
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: $black;
    // height: 506px;
    background: #f6f6f6;

    &__text {
        max-width: 425px;
        margin: 30px auto 0;
        font-size: 18px;
        text-align: center;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    width: 100%;
    // max-width: 936px+74px * 2;

    &__text {
        margin: 40px 0;
        font-size: 18px;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 204px;
    height: 186px;
    transition: 0.5s;

    &__logo {
        height: 110px;
    }

    &__name {
        width: 80px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #f6f6f6;

    &__list {
        width: 100%;
        margin-top: 40px;

        &-item:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &-proect {
        display: flex;
        flex-direction: column;
        align-items: center;

        a:not(.portfolio__link) {
            margin-bottom: 10px;
        }
    }

    &-layout {
        width: 100%;
        max-width: 936px;
        max-height: 522px;
        cursor: pointer;
        transition: 0.5s;
    }

    &__link {
        color: $black;
        font-size: 18px;
        line-height: 22px;
        text-decoration: underline;
        transition: 0.5s;

        &:hover {
            transform: scale(1.2);
        }

        // z-index: 2;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // height: 622px;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        margin-top: 30px;
        font-size: 18px;
        text-align: center;
    }

    &__send {
        max-width: 222px;
        padding: 0 15px;
        height: 42px;
        margin: 30px auto;
        color: #ffffff;
        font-size: 18px;
        background: #070707;
        border-radius: 21px;
        transition: 0.5s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__social-networks {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 178px;
    }

    &__list-item {
        transition: 0.5s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__vk-link {
        display: block;
        width: 40px;
        height: 40px;
        background: url("../images/vk-icon.svg") no-repeat center/contain;
    }

    &__instagram-link {
        display: block;
        width: 40px;
        height: 40px;
        background: url("../images/instagram-icon.svg") no-repeat center/contain;
    }

    &__youtube-link {
        display: block;
        width: 40px;
        height: 40px;
        background: url("../images/youtube-icon.svg") no-repeat center/contain;
    }

    &__telegram-link {
        display: block;
        width: 40px;
        height: 40px;
        background: url("../images/telegram-icon.svg") no-repeat center/contain;
    }

    &-bottom {
        color: $gray;
        font-size: 14px;
        text-align: center;
        margin-top: 30px;

        &__list {
            display: flex;
            justify-content: space-between;
            width: 240px;
        }
    }

    &__link {
        color: $gray;
    }
}

a:hover {
    color: #070707;
}

.selected {
    color: #000000;

    &.nav__link {
        transform: scale(1.1);
    }
}

@media (max-width: 1028px) {
    .skills {
        padding-bottom: 60px;

        &__list {
            max-width: 500px;
            margin: 0 auto;
        }
    }

    .skill {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {

    .header {
        position: fixed;
        // z-index: 1;

        // height: 100vh;
        padding: 60px 0;
        background: none;
        opacity: 0.95;
        transition: all 1.5s, height 0s 1.5s;
        height: 139px;

        &__lang {
            bottom: -150px;
            display: flex;
            visibility: hidden;
            transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &__menu {
            display: block;
        }
    }

    .nav {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &__list {
            position: relative;
            left: -220px;
            // max-width: 300px;
            flex-direction: column;
            height: 50vh;

            margin: 0;
            font-size: 34px;
            border: none;
            //display: none;
            visibility: hidden;
            transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
    }

    .main {
        margin-top: 57px;
    }

    .section {
        padding: 80px 0;
    }

    .banner {
        padding: 0;

        &__lang {
            // bottom: 0;
            // left: 0;
            // transform: initial;
            visibility: hidden;
        }

        &__content {
            margin-bottom: 80px;
        }
    }

    .skills {
        &__list {
            max-width: 260px;
            justify-content: center;
        }
    }

    .skill:last-child {
        margin-bottom: 0;
    }

    .selected {

        &.nav__link {
            transform: scale(1.1) translate(20px, 0);
        }
    }
}

@media (max-width: 580px) {

    .section {
        padding: 60px 0;
    }

    .banner {
        padding: 0;

        &__content {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto 60px;
            padding-bottom: 387px+25px;
        }

        &__name {
            margin-bottom: 25px;
        }

        &__lang {
            display: none;
        }
    }



    // .skills {
    //     max-width: 288px+74px * 2;

    //     &__list {
    //         justify-content: center;
    //         height: 1068px;
    //     }
    // }

    // .portfolio {
    //     &-layout {
    //         margin-bottom: 36px;
    //     }

    //     &__link {
    //         margin-bottom: 78px;
    //     }
    // }

    // .contacts {
    //     &__send {
    //         margin-bottom: 48px;
    //     }
    // }
}

@media (max-width: 460px) {

    .banner {
        padding: 0;

        &__content {
            // padding-bottom: 478px+38px;
            padding-bottom: 162%;
            background: url("../images/banner-background-375-2x.jpg") no-repeat center bottom 0;
            background-size: contain;
        }
    }

    // .contacts {
    //     padding: 82px 30px 100px;

    //     &__send {
    //         width: 100%;
    //     }
    // }
}

.visibile {
    left: 0;
    display: flex;
    padding: 0;
    visibility: visible;
    // max-width: 300px;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lang_visibile {
    bottom: 60px;
    visibility: visible;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header_white {
    height: 100vh;
    // z-index: 3;
    background: #ffffff;
    transition: background 1s, height 0s;
}

// .header_height {
//   height: 100vh;
//   z-index: 3;
//   transition: none;
// }

// ::before {
//   transition: all .9s ease;
// }

.no-scroll {
    // height: 100%;
    // width: 100%;
    // position: fixed;
    overflow: hidden;
}